<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Ng App</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body ng-cloak ng-controller="bodyCtrl">
    <header class="app-header">Ng App</header>
    <div ng-controller="Navigation">
        <nav class="app-menu">
            <div class="inner-menu">
                <div class="auth-menu" ng-controller="authCtrl">
                    <a href="javascript:void(0)" ng-click="authFormToggle()" ng-class="{'selected' : authFormActive}">
                        <span ng-if="loginUserName">{{loginUserName}}</span>
                        <span ng-if="!loginUserName">Sign in </span>
                    </a>
                    <form name="authForm" class="auth-form" ng-show="authFormActive && !loginUserName" ng-submit="authSend(authForm.$valid)" novalidate>
                        <div class="message-error" ng-if="authFormError">Wrong user name or password</div>
                        <input name="name" ng-class="{'not-valid' : authForm.name.$invalid && submitted}" type="text" placeholder="User name" ng-model="authUser" required>
                        <input name="password" ng-class="{'not-valid' : authForm.password.$invalid && submitted}" type="password" placeholder="User password" ng-model="authPassword" required>
                        <input class="app-btn" type="submit" value="Login">                        
                    </form>
                    <div class="auth-form" ng-show="authFormActive && loginUserName">
                        <input class="app-btn" type="submit" value="Logout" ng-click="logout()">
                    </div>
                </div>    

                <a href="#!/" ng-class="homeActive">Home</a>
                <a href="#!/todo" ng-class="todoActive">Todo</a>
                <a href="#!/team" ng-class="teamActive">Team</a>
                <a href="#!/time" ng-class="timeActive">Time</a>
                <a href="#!/blog" ng-class="blogActive">Blog</a>                 
            </div>
        </nav>
        <ng-view class="app-content"></ng-view>
    </div>
    <footer class="app-footer">All rights reserved &copy; 2018</footer>

    <div class="app-loading" ng-if="loading"></div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>

    <script src="js/app.js"></script>    
    <script src="js/controllers/homeCtrl.js"></script>
    <script src="js/controllers/teamCtrl.js"></script>
    <script src="js/controllers/todoCtrl.js"></script>
    <script src="js/controllers/listsCtrl.js"></script>
    <script src="js/controllers/listCtrl.js"></script>
    <script src="js/controllers/cardCtrl.js"></script>
    <script src="js/controllers/timeCtrl.js"></script>
    <script src="js/controllers/blogCtrl.js"></script>
    <script src="js/controllers/commentsCtrl.js"></script>
    <script src="js/controllers/commentAddCtrl.js"></script>
    <script src="js/controllers/authCtrl.js"></script>

    <script src="js/factories/listFactory.js"></script>
    <script src="js/factories/cardFactory.js"></script>
    <script src="js/factories/teamFactory.js"></script>
    <script src="js/factories/blogFactory.js"></script>
    <script src="js/factories/commentFactory.js"></script>
    <script src="js/factories/authFactory.js"></script>

    <script src="js/directives/closeEditing.js"></script>
    <script src="js/directives/commentsList.js"></script>
</body>
</html>