<h1>{{title}}</h1>

<div ng-controller="listsCtrl as listsCtrl">
    <ul class="app-todo-list">
        <li ng-repeat="list in listsCtrl.lists" ng-controller="listCtrl as listCtrl">
            <div class="app-todo-element">
                <div class="remove" ng-click="listCtrl.removeList(list)">x</div>
                <div class="name">{{list.listName}}</div>

                <div class="app-todo-card" ng-repeat="card in listCtrl.getCards(list)" ng-controller="cardCtrl as cardCtrl">
                    <div class="remove" ng-click="cardCtrl.removeCard(card)">x</div>
                    <div class="edit" ng-click="cardCtrl.editCard(card)">e</div>
                    <span ng-if="!cardCtrl.editting">{{card.description}}</span>
                    <form class="edit-card" ng-if="cardCtrl.editting" ng-submit="cardCtrl.submitCard()">
                        <input type="text" ng-model="cardCtrl.editingCard.description" placeholder="New name" close-editing is-editing="cardCtrl.editting">
                        <select ng-options="list.id as list.listName for list in listsCtrl.lists" ng-model="cardCtrl.editingCard.list_id" ng-change="cardCtrl.submitCard()"></select>
                    </form>
                </div>

                <div class="app-todo-card">
                    <form ng-submit="listCtrl.createCard(list)">
                        <input type="text" ng-model="listCtrl.cardDescription" placeholder="+ New issue">
                    </form>
                </div>
            </div>

        <li>
            <div class="app-todo-element new">
                <form ng-submit="listsCtrl.newList()">
                    <input type="text" placeholder="New status" ng-model="listsCtrl.newListName">
                </form>
            </div>
    </ul>
</div>
