<div class="app-comment-add">
    <div class="caption" ng-if="!rootCommentAuthor">Add comment</div>
    <div class="caption" ng-if="rootCommentAuthor">Add comment as {{rootCommentAuthor}}</div>
    <form name="addCommentForm" ng-submit="addComment(addCommentForm.$valid)" novalidate> 
        <input ng-class="{'not-valid' : addCommentForm.author.$invalid && submitted}" name="author" type="text" placeholder="You name" ng-model="commentAuthor" ng-show="!rootCommentAuthor" required> 
        <textarea ng-class="{'not-valid' : addCommentForm.commentText.$invalid && submitted}" name="commentText" placeholder="Your comment" ng-model="commentText" required></textarea>
        <div class="message-success" ng-if="postSuccess">Comment was posted!</div>
        <input class="app-btn" type="submit" value="Send">
    </form>    
</div>